@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* parametros generales */
:root {
    --main-color: #1060d6;
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --light-white: #fff9;
    --dark-bg: rgba(0, 0, 0, .7);
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .3);
    --blue-ribbon-50: #eef7ff;
    --blue-ribbon-100: #d8ebff;
    --blue-ribbon-200: #badcff;
    --blue-ribbon-300: #8bc9ff;
    --blue-ribbon-400: #54aaff;
    --blue-ribbon-500: #2d86ff;
    --blue-ribbon-600: #0c5ffa;
    --blue-ribbon-700: #0f4fe6;
    --blue-ribbon-800: #1340ba;
    --blue-ribbon-900: #163a92;
    --blue-ribbon-950: #122559;

}



body {

    background-color: var(--blue-ribbon-200);
    box-sizing: border-box !important;
}


/* Fin de parametros */
/* Botones */
.btn {
    display: inline-block;
    border-radius: 3px;
    background: var(--blue-ribbon-500);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    width: auto;
    padding: 1rem 1.5rem;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


.btn:hover {
    background: var(--main-color);
}

/* fin de los botones */
/* --> Empiezan las tarjetas gastronomia <-- */
main {
    display: flex;
    flex-direction: column;
    position: relative;
}


.Gastronomia h1 {
    font-size: 80px;
    padding: 20px;
    text-align: center;
    font-family: "Montserrat";
}

.Gastronomia p {
    text-align: center;
    font-size: 25px;
    font-style: bold;
    font-family: "Montserrat";

}

.tarjetasCentrales {
    background-color: #3498db;
    font-family: 'Dosis', sans-serif;
    position: relative !important;
}

.content-tarjetCentrales {
    color: var(--white);
    position: relative;
    padding: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content-tarjetCentrales h1 {
    font-size: 34px;
    height: 10px;
    text-align: center;
}

.containerCentrales {
    width: 100%;
    max-width: 1800px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}

.containerCentrales .card {

    border-radius: 8px;

}

.containerCentrales .card {
    max-width: 320px;
    /* width: 300px; */
    height: 415px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 30px;
    text-align: center;
    transition: all 0.25s;
    background-color: var(--blue-ribbon-300);
}

.containerCentrales .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.containerCentrales .card img {
    width: 330px;
    height: 320px;
    margin-bottom: 10px;
}

.containerCentrales .card h4 {
    font-weight: 600;
    color: black;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.containerCentrales .card a {
    padding: 0rem 1rem;
    font-size: 16px;
    font-weight: 300;
    color: black;
    letter-spacing: 0.03em;
    font-weight: bold;
    margin-top: 500px;
}

/* --> Terminan las tarjetas gastronomia <-- */
/* --> Empiezan las actividades <-- */
.titulo-encabezado {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--black);
}

.actividades {
    padding: 5rem 10%;

}

.actividades .container-actividad {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;

}

.actividades .container-actividad .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--blue-ribbon-300);
    display: none;
    border-radius: 3px;
    max-width: 400px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


.actividades .container-actividad .box .image {
    height: 15rem;
    overflow: hidden;
}



.actividades .container-actividad .box .content {
    padding: 0.5rem;
    text-align: center;
}

.actividades .cargar-mas {
    text-align: center;
    margin-top: 1rem;
}


.actividades .container-actividad .box:nth-child(1),
.actividades .container-actividad .box:nth-child(2),
.actividades .container-actividad .box:nth-child(3),
.actividades .container-actividad .box:nth-child(4) {
    display: inline-block;
}


.actividades .container-actividad .box:hover .image img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.actividades .container-actividad .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
}

.actividades .container-actividad .box .content h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.actividades .container-actividad .box .content p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

/* --> Terminan las actividades <-- */
@media (max-width: 768px) {

    .Gastronomia h1 {
        font-size: 30px;
        padding: 20px;
        text-align: center;
        font-family: "Montserrat";
    }

    .Gastronomia p {
        text-align: center;
        font-size: 15px;
        font-style: bold;
        font-family: "Montserrat";

    }

    .actividades {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* Centra los elementos horizontalmente */
        align-items: center;
        /* Centra los elementos verticalmente */
    }

    /* Estilos para la sección "Gastronomia" */
    .Gastronomia {
        display: flex;
        flex-direction: column;
        /* Apila los elementos verticalmente */
        justify-content: center;
        /* Centra los elementos horizontalmente */
        align-items: center;
        /* Centra los elementos verticalmente */


    }



    /* Estilos para los elementos internos, como las tarjetas o cajas, dentro de las secciones */
    .container-actividad,
    .containerCentrales {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* Centra los elementos horizontalmente */
    }

    .card {
        margin: 10px;
        /* Espacio entre las tarjetas */
        text-align: center;
    }
}

/* @media (min-width: 630px) {
    .Gastronomia h1 {
        font-size: 30px;
        padding: 20px;
        text-align: center;
        font-family: "Montserrat";
    }

    .Gastronomia p {
        text-align: center;
        font-size: 15px;
        font-style: bold;
        font-family: "Montserrat";

    }
} */

@media (max-width: 1300px) {
    .actividades {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* Centra los elementos horizontalmente */
        align-items: center;
        /* Centra los elementos verticalmente */
    }

    /* Estilos para la sección "Gastronomia" */
    .Gastronomia {
        display: flex;
        flex-direction: column;
        /* Apila los elementos verticalmente */
        justify-content: center;
        /* Centra los elementos horizontalmente */
        align-items: center;
        /* Centra los elementos verticalmente */
    }

    /* Estilos para los elementos internos, como las tarjetas o cajas, dentro de las secciones */
    .container-actividad,
    .containerCentrales {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* Centra los elementos horizontalmente */
    }

    .card {
        margin: 10px;
        /* Espacio entre las tarjetas */
        text-align: center;

    }





}