@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --blue-ribbon-50: #eef7ff;
    --blue-ribbon-100: #d8ebff;
    --blue-ribbon-200: #badcff;
    --blue-ribbon-300: #8bc9ff;
    --blue-ribbon-400: #54aaff;
    --blue-ribbon-500: #2d86ff;
    --blue-ribbon-600: #0c5ffa;
    --blue-ribbon-700: #0f4fe6;
    --blue-ribbon-800: #1340ba;
    --blue-ribbon-900: #163a92;
    --blue-ribbon-950: #122559;


}

/* Reglas generales */
* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Todo el ancho, sin padding y sin margenes */
/* Fin de Reglas Generales */

/*Header/Barra de navegación */
.main-nav {

    display: flex;
    position: relative;
    background: linear-gradient(var(--blue-ribbon-400), var(--blue-ribbon-500));
    width: 100%;
    z-index: 5;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Dosis', sans-serif;

}



.logo {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 20px 40px;
    font-size: 2rem;
    color: #fff;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    align-items: center;
    color: #ffffff;

}

.nav-link {
    list-style: none;
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;


}

ul {
    transition: max-height 1s ease-out;
    -webkit-transition: max-height 1s ease-out;
    -moz-transition: max-height 1s ease-out;
    -ms-transition: max-height 1s ease-out;
    -o-transition: max-height 1s ease-out;
}


ul li a {
    display: inline-block;
    padding: 20px 20px;
    font-size: 20px;
    color: #fff;
    /*border: 2px solid rgba(255, 255, 255, 0);
    */
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color color 0.2s ease-out;
    -webkit-transition: background-color color 0.2s ease-out;
    -moz-transition: background-color color 0.2s ease-out;
    -ms-transition: background-color color 0.2s ease-out;
    -o-transition: background-color color 0.2s ease-out;
}

ul li a:hover {
    background-color: var(--blue-ribbon-500);
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
    -webkit-transition: background-color 0.3s ease-in, ;
    -moz-transition: background-color 0.3s ease-in, ;
    -ms-transition: background-color 0.3s ease-in, ;
    -o-transition: background-color 0.3s ease-in, ;
}

ul li a:active {
    background: var(--blue-ribbon-600);
    background-color: var(--blue-ribbon-700);
    color: #ccd5e8;
    transition: background-color 0.3s ease-in,
        color 0.3s ease-in;
}

/*Fin Header/Barra de navegación */



/* Footer */
.pie-pagina {
    position: relative;
    width: 100%;
    background: linear-gradient(var(--blue-ribbon-400), var(--blue-ribbon-500));
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 25px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    display: flex;
    justify-content: center;
    /* Alinear horizontal */
    align-items: center;
    /* Alinear vertical */
}

.pie-pagina .grupo-1 .box figure img {
    width: 100px;
    /* Tamaño de la imagen */
    transition: all 300ms ease;
    /*transicionparaelhover*/

}

.pie-pagina .grupo-1 .box h2 {
    /* Sobre nosotros y Redes Sociales */
    color: #ffffff;
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}

.pie-pagina .grupo-1 .box p {
    /* Párrafo */
    text-align: center;
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
}

.pie-pagina .grupo-1 .box .red-social {
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

.red-social a {
    /*Iconosdelinks*/
    display: inline-block;
    /*text-decoration: none;
    */
    width: 40px;
    /*ancho*/
    height: 40px;
    /*alto*/
    line-height: 40px;
    color: #fff;
    margin-right: 10px;
    /*Separacionentreiconos*/
    background-color: var(--blue-ribbon-500);
    border-radius: 8px;
    /*Fondodelicono*/
    /*text-lign: center;
    */
    position: relative;
    transition: all 300ms ease;
    /*transicionparaelhover*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.red-social a:hover {
    background-color: var(--blue-ribbon-600);
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.red-social a:active {
    background-color: var(--blue-ribbon-700);
}

.red-social a img {
    position: absolute;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pie-pagina .grupo-2 {
    background-color: var(--blue-ribbon-950);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

/* Fin del Footer */

/* Responsive */
@media (max-width: 768px) {
    .main-nav {
        flex-direction: column;
        /* Cambia la dirección de los elementos */
        align-items: center;
        /* Centra los elementos verticalmente */
        padding: 10px;
        /* Ajusta el espaciado */
    }

    .logo {
        margin-left: 0;
    }

    .main-header .main-nav ul {
        margin: 0;
    }

    ul li a {
        padding: 10px;
    }

    .nav-link {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-link.active {
        display: block !important;
    }

    .menu-toggle {
        display: block;
    }

    .main-header .logo {
        text-align: center;
    }

    .menu-toggle:hover {
        background-color: var(--blue-ribbon-500);
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
    }

    ;


    .logo {
        font-size: 1.5rem;
    }

    ul li a {
        font-size: 18px;
    }

    /* pie de pag */
    .pie-pagina .grupo-1,
    .pie-pagina .grupo-2 {
        display: block;
        padding: 5px;
    }

    .pie-pagina .grupo-2 small {
        font-size: 20px;
    }

    .grupo-1 .box figure a {
        display: flex;
        justify-content: center;
        /* Centra horizontalmente */
        align-items: center;
        /* Centra verticalmente */
    }

    .grupo-1 .box figure a img {
        width: 130px;
        height: 100px;
    }

}