@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

/* Main y contenedores */
/* Main y contenedores */
main {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


main #myImage {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.contenedor-main {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    color: #fff;
    text-align: center;
    padding-top: 300px;
}

.contenedor-main h1 {
    font-size: 7rem;

}

.contenedor-main p {
    font-size: 1.5rem;
    margin: 15px 30px;
}

.contenedor-main a {

    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out,
        color 0.2s ease-out;

}




/*Fin  Main y contenedores */

@media (min-width: 768px) {
    #myImage {
        content: url('../img/Bariloche2.webp');
    }
}

/* Cambio de imagen cuando el ancho de pantalla es igual o mayor a 1200px */
@media (min-width: 1200px) {
    #myImage {
        content: url("../img/Bariloche3.webp");
    }
}

/*Fin  Main y contenedores */