<!DOCTYPE html>
<html lang="en">

<head>
  {% extends "core/base.html" %}
  {%load static%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Multimedia</title>
</head>

<body>

  <body>
    {%block content%}
    <div class="top">
      <img src='{%static "core/img/centro-civico.jpg"%}' alt="Imagen de catedral">
    </div>
    <article>
      <h1>San Carlos de Bariloche</h1>
      <h2>Historia General</h2>
      <p>San Carlos de Bariloche, conocida simplemente como Bariloche, es una ciudad patagónica que, con 146.000
        habitantes (2022), es la más poblada de la provincia de Río Negro, siendo además la cabecera del departamento de
        Bariloche.<br>

        Bariloche es el destino más visitado de la Patagonia y uno de los destinos más visitados de la Argentina. Recibe
        alrededor de dos millones de turistas anualmente, principalmente en temporada invernal, entre los que se
        destacan por su afluencia los provenientes de países de Europa y América. Es conocida por ser el destino
        principal del viaje de egresados secundarios en Argentina y Uruguay.<br>

        Es la ciudad argentina más poblada de los Andes Patagónicos. Está ubicada en el parque nacional Nahuel Huapi, en
        el suroeste de la provincia de Río Negro, junto a la cordillera de los Andes, en la ribera sur del lago Nahuel
        Huapi, a 832 km de Viedma, la capital de la provincia.<br>

        Sus reservas naturales, que incluyen lagos, bosques y montañas, y sus destacados centros de esquí son el
        principal atractivo. La ciudad ha sido considerada por algunas fuentes como el segundo destino de esquí a nivel
        mundial y el más grande de América del Sur. Está además en una zona donde se puede observar y estudiar al cóndor
        andino.<br>

        Es considerada como la segunda ciudad de mejor calidad de vida de la Argentina, tanto por su entorno natural, su
        diversidad de actividades económicas dinámicas y su seguridad.<br>

        Bariloche es además uno de los polos científicos y tecnológicos más importantes de América, encontrándose INVAP,
        empresa provincial de alta tecnología que diseña y construye molinos eólicos, radares y satélites, entre
        otros.<br>

        En noviembre de 2012 Bariloche fue nombrada «capital nacional del turismo aventura» bajo la Ley 26802 sancionada
        por el Congreso Nacional Argentino.</p>
    </article>
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fCDALRqDcoY?si=5FCNaHDBHbZ9m-Ao"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    {%endblock%}
  </body>

</html>